<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>Unsubscribe - FriendFolio</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cloud-dl6zn5vpz-hack-club-bot.vercel.app/0logo.png"
    />

    <style>
      body {
        font-family: "Poppins";
      }
    </style>
  </head>
  <body
    class="bg-gradient-to-r from-violet-100 via-purple-50 to-pink-100 bg-no-repeat bg-fixed px-3 py-10"
  >
    <div class="group w-fit mx-auto">
      <div
        class="bg-violet-400 p-2 w-fit mx-auto rounded-lg shadow-sm group group-hover:bg-orange-400 transition-all hover:shadow-md hover:shadow-orange-500/50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-12 stroke-2 mx-auto stroke-white fill-violet-300 group-hover:stroke-white group-hover:fill-orange-300 transition-all delay-75 group-hover:scale-105"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776"
          />
        </svg>
      </div>

      <p
        class="font-bold text-6xl text-center mt-3 drop-shadow-md w-fit mx-auto"
      >
        <span
          class="bg-gradient-to-r from-violet-400 to-pink-400 bg-clip-text text-transparent"
          >Friend</span
        ><span
          class="bg-gradient-to-r from-orange-400 to-yellow-400 bg-clip-text text-transparent"
          >Folio</span
        >
      </p>
      <p
        class="font-medium text-lg text-center cursor-default delay-150 text-neutral-400 group-hover:bg-violet-400 group-hover:text-white group-hover:shadow-violet-500/50 w-fit mx-auto group-hover:mt-1 group-hover:mb-10 mb-11 duration-300 px-5 rounded-full group-hover:shadow-md py-0.5 group-hover:text-lg transition-all"
      >
        never forget a birthday again !
      </p>
    </div>

    <div
      class="w-96 mt-2 rounded-lg mx-auto py-5 px-8 border-2 group bg-pink-400 transition-all border-pink-500/30 shadow-md shadow-pink-500/30"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-8 mx-auto text-white stroke-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.143 17.082a24.248 24.248 0 0 0 3.844.148m-3.844-.148a23.856 23.856 0 0 1-5.455-1.31 8.964 8.964 0 0 0 2.3-5.542m3.155 6.852a3 3 0 0 0 5.667 1.97m1.965-2.277L21 21m-4.225-4.225a23.81 23.81 0 0 0 3.536-1.003A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6.53 6.53m10.245 10.245L6.53 6.53M3 3l3.53 3.53"
        />
      </svg>

      <p class="font-semibold text-xl text-center text-white mt-4">
        Stop Receiving Reminders
      </p>
      <p class="font-medium text-sm text-center text-pink-600">
        Do you want to unsubscribe to birthday reminders of this friend?
      </p>
    </div>

    <div class="w-fit mx-auto mt-5">
      <button onclick="window.location.href = '/unsubscribe-email-confirm/<%= date %>'"
        class="transition-all hover:bg-pink-600/70 hover:scale-105 active:bg-pink-600/90 hover:shadow-md hover:shadow-pink-500/50 hover:border-pink-700 bg-pink-500 px-7 py-1 rounded-full text-white border-2 border-pink-600 font-medium"
      >
        Yes
      </button>
    </div>
  </body>
  <script>
    
  </script>
</html>
